<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator Test</title>
</head>
<body>
    <h2>Calculator Test</h2>
    <form action="/calculate" method="get">
        <label for="x">x: </label>
        <input type="number" name="num1" id="x"> <br>
        <label for="y">y: </label>
        <input type="number" name="num2"> <br>
        <input type="submit" value="전송">
        <input type="reset" value="취소">
    </form>
</body>
</html>