<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/jindo_logo.png}" alt="logo"></a>
            <h2>새 글쓰기</h2>
        </div>
    </div>

    <div class="container">
        <table border="1">
            <tr>
                <th>작성자</th>
                <td>
                    <span th:text="${board.boardWriter}">작성자</span>
                </td>
            </tr>
            <tr>
                <th>글 제목</th>
                <td>
                    <span th:text="${board.boardTitle}">글제목</span>
                </td>
            </tr>
            <tr>
                <th>작성일</th>
                <td>
                    <span th:text="${#temporals.format(board.createDate, 'yy-MM-dd HH:mm:ss')}">작성일</span>
                </td>
            </tr>
            <tr>
                <th>수정일</th>
                <td>
                    <span th:text="${#temporals.format(board.updateDate, 'yy-MM-dd HH:mm:ss')}">수정일</span>
                </td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td>
                    <span><a href="#">doggy.jpg</a></span>
                </td>
            </tr>
            <tr>
                <th>글 내용</th>
                <td>
                    <!-- 입력한 그대로 출력 -->
                    <pre>[[ ${board.boardContent} ]]</pre>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <!-- <a href="" class="btn btn-write">삭제</a> -->
            <a th:href="@{/board/boardDelete(boardNum=${board.boardNum})}" class="btn btn-delete">삭제</a>
            <a th:href="@{/board/boardUpdate(boardNum=${board.boardNum})}" class="btn btn-update">수정</a>
            <a th:href="@{/board/boardList}" class="btn btn-list">목록</a>
        </div>

    </div>


</body>

</html>