<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>
        $(function () {
            init();
            $("#comment-register").on('click', writeComment);
            $(".like_emoji").on('click', increaseLike);

            // 모든 댓글 내용을 불러오는 함수 
            function init() {
                let contextPath = $("#contextPath").val();
                let boardNum = $("#boardNum").val();
                $.ajax({
                    url: contextPath + '/comment/allComments'
                    , method: 'GET'
                    , data: { "boardNum": boardNum }
                    , success: function (resp) {
                        $.each(resp, function (index, item) {
                            commentOutput(item);
                        })
                    }
                })

            }

            function writeComment() {
                let boardNum = $("#boardNum").val();
                let commentWriter = $("#loginId").val(); //$("#commentWriter").attr("text");
                let commentText = $("#commentText").val();
                let contextPath = $("#contextPath").val();
                if (commentText.trim().length == 0) {
                    alert("댓글 내용을 작성해주세요.")
                    $("#commentText").focus();
                    return;
                }

                // POST, url: /comment/commentInsert, 요청데이터: 작성자, 댓글 내용, 게시글 번호
                $.ajax({
                    url: contextPath + '/comment/insertComment'
                    , method: 'POST'
                    , data: {
                        "boardNum": boardNum, "commentWriter": commentWriter,
                        "commentText": commentText
                    }
                    , success: commentOutput
                })
            };

            function commentOutput(resp) {
                let loginId = $("#loginId").val();
                let result = `
                <li class="comment_item">
                    <div class="comment_area">
                        <span class="comment_writer" style="color: rgb(70, 69, 69); font-size: small;">${resp["commentWriter"]}</span>
                        <span class="comment_create_date" style="color: rgb(70, 69, 69); font-size: smaller;">${resp["createDate"]}</span>
                        <br>
                        <div class="comment_text_box">
                            <p class="comment_text">${resp["commentText"]}</p>
                        </div>`
                if (loginId == resp["commentWriter"]) {
                    result += `<div class="button_area" th:if="${loginId == resp["commentWriter"]}">
                            <input type="button" class="updateBtn" value="수정" data-no=${resp["commentNum"]}>
                            <input type="button" class="delBtn" value="삭제" data-no=${resp["commentNum"]}>
                        </div>`
                };

                result += `</div>
                                    <hr>
                                </li>
                                `
                // // 로그인 아이디와 댓글쓴이의 아이디가 같으면 
                // if ($("#loginId") == item.commentWriter); // allala... 

                $("ul.comment_list").append(result);
                $(".delBtn").on('click', deleteComment);
            }

            function deleteComment() {
                let commentNum = $(this).attr("data-no");
                let contextPath = $("#contextPath").val();
                $.ajax({
                    url: contextPath + '/comment/deleteComment'
                    , method: 'GET'
                    , data: { "commentNum": commentNum }
                    , success: function () {
                        alert("댓글이 정상적으로 삭제되었습니다! :)");
                    }
                })

                $(this).parent().parent().parent().remove();
            }

            // 좋아요 버튼 동작
            function increaseLike() {
                let boardNum = $("#boardNum").val();
                let contextPath = $("#contextPath").val();

                $.ajax({
                    url: contextPath + '/board/increaseLike'
                    , method: "GET"
                    , data: { "boardNum": boardNum }
                    , success: function (resp) {
                        $(".like_count").text(resp);
                    }
                });
            }
        });
    </script>
</head>

<body>
    <div class="header">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/jindo_logo.png}" alt="logo"></a>
            <h2>게시글 보기</h2>
        </div>
    </div>

    <div class="container">
        <table border="1">
            <tr>
                <th>작성자</th>
                <td>
                    <span th:text="${board.boardWriter}">작성자</span>
                </td>
            </tr>
            <tr>
                <th>글 제목</th>
                <td>
                    <span th:text="${board.boardTitle}">글제목</span>
                </td>
            </tr>
            <tr>
                <th>작성일</th>
                <td>
                    <span th:text="${#temporals.format(board.createDate, 'yy-MM-dd HH:mm:ss')}">작성일</span>
                </td>
            </tr>
            <tr>
                <th>수정일</th>
                <td>
                    <span th:text="${#temporals.format(board.updateDate, 'yy-MM-dd HH:mm:ss')}">수정일</span>
                </td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td>
                    <span><a th:href="@{/board/download(boardNum=${board.boardNum})}"
                            th:text="${board.originalFileName}"></a></span>
                </td>
            </tr>
            <tr>
                <th>글 내용</th>
                <td>
                    <!-- 입력한 그대로 출력 -->
                    <pre>[[ ${board.boardContent} ]]</pre>
                </td>
            </tr>
        </table>
        <span class="like_emoji">🩷</span>
        <em class="like_txt_label">좋아요</em>&nbsp;<em class="like_count" th:text="${board.likeCount}"></em>
        <div class="buttons">
            <!-- <a href="" class="btn btn-write">삭제</a> -->
            <!-- 삭제, 수정버튼: 작성자와 로그인한 유저가 같은 경우에만 노출 -->
            <!-- authentication.name: LoginUserDetails에서 반환 -->
            <th:block th:if="${board.boardWriter == #authentication.name}"> <!-- th:block: 코드가 해석되고 나면 사라짐 -->
                <a th:href="@{/board/boardDelete(boardNum=${board.boardNum}, searchFilter=${searchFilter}, searchKeyword=${searchKeyword})}"
                    class="btn btn-delete">삭제</a>
                <a th:href="@{/board/boardUpdate(boardNum=${board.boardNum}, searchFilter=${searchFilter}, searchKeyword=${searchKeyword})}"
                    class="btn btn-update">수정</a>
            </th:block>


            <a th:href="@{/board/boardList(searchFilter=${searchFilter}, searchKeyword=${searchKeyword})}"
                class="btn btn-list">목록</a>
        </div>
        <div class="searchFilter">
            <input type="hidden" name="searchFilter" th:value="${searchFilter}">
            <input type="hidden" name="searchKeyword" th:value="${searchKeyword}">
        </div>
    </div>
    <!-- 댓글 섹션 -->
    <input type="hidden" id="boardNum" th:value="${board.boardNum}">
    <input type="hidden" id="contextPath" th:value="${contextPath}"> <!--contextPath 변수에 저장된 contextPath값을 가지고옴-->
    <input type="hidden" id="loginId" th:value="${#authentication.name}">
    <!-- or Controller에서 세션에 저장된 로그인 아이디를 Model에 함께 전달 -->
    <div class="container">
        <!-- 댓글 목록 출력 -->
        <div class="commentBox">
            <ul class="comment_list">
            </ul>
        </div>
        <!-- 댓글 작성 영역: 로그인한 사용자만 가능 -->
        <div class="writeComment" sec:authorize="isAuthenticated()">
            <div class="comment-info">
                <span id="commentWriter" style="color: rgb(70, 69, 69); font-size: small;"
                    th:text="${#authentication.name}"></span>
                &nbsp;
                <span id="createDate" style="color: rgb(70, 69, 69); font-size: smaller;">날짜 넣을거임</span>
            </div>
            <div class="comment-write">
                <textarea name="commentText" id="commentText" cols="50" rows="5" placeholder="댓글을 작성해주세요."></textarea>
                <input type="button" class="btn btn-update" id="comment-register" value="등록">
            </div>
        </div>
    </div>


</body>

</html>